swagger: 2.0
info:
  version: "0.0.1"
  title: GLH General Reservation Interface 
# during dev, should point to your local machine
host: glhhotels.com
# basePath prefixes all resource paths 
basePath: /
# 
schemes:
  # tip: remove http to make production-grade
  - http
  - https
# format of bodies a client can send (Content-Type)
consumes:
  - application/json
# format of the responses to the client (Accepts)
produces:
  - application/json
x-volos-resources: {}
paths:
  /specialRequests:
    # binds a127 app logic to a route
    x-swagger-router-controller: specialRequests
    x-volos-authorizations: {}
    x-volos-apply: {}
    get:
      description: Returns a collection of predefined special request codes and descriptions
      # used as the method name of the controller
      operationId: getSpecialRequests
      parameters:
        - name: specialRequestCode
          in: query
          description: The (optional) code value
          required: false
          type: string
      responses:
        "200":
          description: Success
          schema:
            # a pointer to a definition
            $ref: SpecialRequestCode
        # responses may fall through to errors
        default:
          description: Error
          schema:
            $ref: ErrorResponse
# complex objects have schema definitions
definitions:
  HelloWorldResponse:
    required:
      - message
      - code
    properties:
      message:
        type: string
    properties:
      message:
        type: string   
  ErrorResponse:
    required:
      - message
    properties:
      message:
        type: string
  SpecialRequestCode:
    required:
      - status
    properties:
      status:
        type: string